@{
    ViewBag.Title = "Filmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>

<p>
    @Html.ActionLink("Novo Filme", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>


<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Filme</th>
        <th>Gênero</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function() {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });

    </script>
}
